{% extends "base.html" %}

{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form_style.css') }}">
{% endblock %}

{% block content %}
<div class="form-wrap">
  <h1>Add a Book:</h1>

  <form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

    <div class="field">
      <label for="bookTitle">Title <em>(required)</em></label>
      <input type="text" id="bookTitle" name="book_title" required" />
    </div>

    <div class="field">
      <label for="bookAuthor">Author <em>(required)</em></label>
      <input type="text" id="bookAuthor" name="book_author" required />
    </div>

    <div class="field">
      <label for="bookRating">Rating <em>(required, 1-5)</em></label>
      <input type="text" id="bookRating" name="book_rating" required />
    </div>

    <div class="field">
      <button type="submit">Submit</button>
    </div>
  </form>
</div>
{% endblock %}
